*,html,body{
    
}

$white-color: #fff;
$black-color: #000;
$font-color:#303131;
$gold-color:#A69B5D;
$danger-color:#820D1D;
$dark-grey:#4A4A4A;
$light-grey:#c2c2c2;

$fz-lg:38px;
$fz-md:24px;
$fz-base:18px;